/*
The main SCSS file for everything, yep
*/

@import "bourbon/_bourbon";
@import "neat/_neat";
@import "base/base";

body {
  margin: 0;
  padding-top: 5em;
  background-color: $white;

}



@mixin card {
  border: #EDEDED 2px solid;
  border-radius: $base-border-radius;
  padding: $base-spacing;
  margin-bottom: 1em;
}
// HEADER

header {
  background-color: $blue;
  color: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 1.4em;
  padding-bottom: 1.4em;
  border-bottom: 0.3em $blue solid;
  font-family: $heading-font-family;
  padding-left: 0.5em;
  padding-right: 0.5em;

  .header_wrapper {
    @include outer-container;
  }


  #brand {
float: left;
font-weight: 600;

  #logo_emphasis {
    color: $yellow;
  }
  }

  nav {
    float: right;
    padding-top: 0.15em;

      ul {
        display: inline-block;
        margin-left: 0;
        float: right;

          li {
            display: inline-block;
            margin-left: 4em;

            a {
              color: $white;
            }

            a:hover {
              color: $action-color;
            }
          }
      }



}

h2, li {
  margin-bottom: 0;
  margin-top: 0;
}

}


// MAIN

main {
  padding-left: 0.5em;
  padding-right: 0.5em;

}

#company-showcase {
  @include outer-container;
  padding-bottom: 5em;
}

#call-to-action {
  @include outer-container;
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: center;
  background-image: url('/assets/images/geometry.png');

  strong {
    color: $blue;
  }

}

#services {
  background-color: $yellow;
  padding: $base-spacing;
  border-radius: $base-border-radius;

  @media screen and (min-width: $tablet) {
    @include span-columns(8);
  }

   @media screen and (max-width: $tablet) {
     @include span-columns(12);
   }
}

#home-case-study {
  @include span-columns(4);
  @include omega();

   @media screen and (max-width: $tablet) {
     @include span-columns(12);
   }
}


.case-study {
  border: #EDEDED 2px solid;
  border-radius: $base-border-radius;

  .case-study_description {
    margin: $base-spacing;
  }

  .case-study_image  {
    overflow: hidden;
    border-radius: $base-border-radius;
  }
}

#home-testimonial {
  @include outer-container;
  text-align: center;
  padding-top: 5em;
  padding-bottom: 10em;

  blockquote {
    font-size: $base-font-size;
    margin-bottom: 0.2em
  }

  cite {
    font-size: $base-font-size;
    color: grey;
    font-family: $heading-font-family;
    text-decoration: none;
    font-style: normal;
    padding-top: -1em;
  }
}

.title {
  @include outer-container;
  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;
}

// PORTFOLIO

.portfolio {
  @include outer-container;
  padding-bottom: 10em;

  .portfolio_item {
    @include span-columns(6);
    @include omega(2n);
    margin-right: $base-spacing;
    margin-bottom: $base-spacing;
    min-height: 15em;
    background-size:cover;
    background-position: center;
    padding: $base-spacing;
    color: $white;
    border-radius: $base-border-radius;

    @media screen and (max-width: $tablet) {
      @include span-columns(12);
    }

    button {
      background-color: $white;
      color: $black;
    }

    button:hover {
      background-color: $yellow;
    }
    .portfolio_item__image {
      height: 200px;
      width: 200px;
      float: left;
    }
    .portfolio_item__title {
      font-size: $base-font-size;
    }
  }
}

// FOOTER

footer {
  background-color: $black;
  padding: $base-spacing;
  text-align: center;
  color: $white;
  font-family: $heading-font-family;
  font-size: 0.4 * $base-font-size;
}


// BLOG

#blog {
  padding-top: 5em;
  @include outer-container;
}

.blog-archive {
  @include span-columns(8);
  padding-bottom: 10em;

  ul li {
    margin-bottom: 1.5em;
  }
}

.blog-archive_item {
  @include card;
  background-color: white;

}

a.blog-archive_item__title {
  font-family: $heading-font-family;
 font-size: $base-font-size;
}

.blog-archive_item__date {
color: $black;
opacity: 0.5;

}

.blog-archive_item_content {
}
// OTHER

.advert {
  background-color: $red;
  color: $white;
  font-size: $base-font-size;
  font-family: $heading-font-family;
  margin-bottom: 0px;
  padding: $base-spacing ;
  text-align:center;

   p {
     margin: 0;
   }

   strong {
     color: $yellow;
   }
}
