@charset "utf-8";
@import "normalize";
@import "bourbon/_bourbon";
@import "neat/_neat";
@import "base/_base";

// Header

body {
  background-color: #1b1b1b;
}

header {
  background-color: $blue;
  width: 100%;
}


.header {
  @include outer-container;
  padding-top: $small-spacing;
  padding-bottom: $small-spacing;
  color: $white;
  padding-left: $base-spacing;
  padding-right: $base-spacing;
}

.header h2 {
  font-size: $base-font-size * 2;
}
.header a, .header h2 {
  margin-bottom: 0;
}

.header a:hover {
  color: $red;
}

.logo {
  float: left;
}
.navigation {
  float: right;
}

.navigation ul {
  margin-top: 2.5em;
  font-size: 1.2em;
}
.navigation ul li {
  display: inline-block;
  list-style: none;
  margin-left:  $base-spacing*3;

}

.navigation ul li a {
  color: $white;
  font-weight: 700;
    padding: 1em;
}

.navigation ul li a:hover {
  background-color: white;
  color: $blue;
}

.logo img {
  max-height: 120px;
}

@media screen and (max-width: 1000px) {
  .navigation ul li {
    display: block;
    margin-left: 0;
    margin-bottom: $base-spacing*1.5;
  }

  .header {
    text-align: center;
  }
  .navigation {
    float: none;
  }
  .navigation ul {
    margin-left: 0;
  }
  .logo {
    float: none;
  }
}

// BANNER

.banner {
  margin-top: $base-spacing;
  background-image: url('/images/banner.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  @include outer-container;
  padding: $base-spacing;
  color: $white;
  padding-top:$base-spacing*3;
  padding-bottom:$base-spacing;
  font-size: 1.5em;
}


.banner h1 {
  font-size: 2em;
}



.banner-content {
@include outer-container;
}

@media screen and (max-width: 1000px) {
  .banner {
    margin-top: 0;
    font-size: 1.2em;
  }
}
// CONTENT

.content-wrapper {
  @include outer-container;
  background-color: $white;

}

.content {
  @include span-columns(8);
}

.sidebar {
  @include span-columns(4);
  margin-right: 0!important;
  padding-right:0!important;
}
.text-block {
  padding: $base-spacing;
  margin-bottom: $base-spacing;

}

@media screen and (max-width: 1000px) {
  .content {
    @include span-columns(12);
  }
  .sidebar {
    @include span-columns(12);
  }
}

.featured {
    background-color: $white;

}

.call-to-action {
  background-color: $brick;
  padding: $base-spacing;
  color: $white;
}

.call-to-action a {
  color: $white;
  @include clearfix;
  margin-bottom: 2em;
}

.case-study {
  background-color: $blue;
  color: $white;
  margin-bottom: $base-spacing;
}

.case-study-content,  {
  padding: $base-spacing;
}
.case-study img {
}

.full {
  @include span-columns(12);
}
// CTA

.testimonial {
  width: 100%;
  background-color: #384e67;
  padding: $base-spacing*2;
  margin-top: $base-spacing;
  margin-bottom: $base-spacing;
  color: $white;
}

.testimonial-content {
  @include outer-container;
  text-align: center;
}

.testimonial-content blockquote {
  font-size: 2em;
  margin-top: 0;

  @media screen and (max-width:1000px) {
    font-size: 1.5em;
  }
}

.testimonial-content cite {
  font-style: normal;
}

.social-media {
  text-align: center;
}


.call-to-action a.social-link {
  display: inline-block;
}

.social-box {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  margin-top: $small-spacing;
  line-height: 50px;
  font-family: Entypo;
  font-size: 28px;
  text-align: center;
  color: $brick;
  border-radius: 10px;
  background: $white;
  overflow: hidden;
  cursor: pointer;
  transition: .30s;

}
.box:hover {
	transition: .30s;
	color: white;
}
#facebook:hover {
	background-color: #3a5795;
}
#twitter:hover {
	background-color: #00acee;
}
#google:hover {
	background-color: #dd4b39;
}

// FOOTER

footer {
  background-color: $blue;
  padding: $base-spacing;
  color: $white;
  margin-top: $base-spacing;
  text-align: center;
}

// TITLE

.title {
  margin-top: $base-spacing;
  @include outer-container;
  padding: $base-spacing;
  color: $white;
  background-color: $blue;
  font-size: 1.5em;
}

.title h1 {
  font-size: 2em;
}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 1.2em;
  }
}


// PORTFOLIO


.portfolio .case-study {
  @include span-columns(6);
  @include omega(2n);
  background-color: $red;

}

.portfolio .case-study img {

}

// blog

.post-list-item {
  padding: $base-spacing;
  padding-bottom:0;
  font-size: 1.5em;
}

time {
  @include clearfix;
  display: block;

}

.post-list-item h2 {
  margin-bottom: 0.5em;
}
.article-content {
  font-family: "expo-serif-pro", serif;
  font-size: 1.5em;
  font-weight: 300;
  padding: $base-spacing;
}

.article-content h1, .article-content h2, .article-content h3, .article-content h4 {
  margin-bottom: 0.5em;
}


.article-content p.tagline {
  font-family: $base-font-family;
  color: darken($medium-gray,20%);
}
//contact

form {
  background-color: $blue;
  padding: $base-spacing;
  color: $white;
  margin-bottom: $base-spacing;
}
