
<style>
body {
background-image: none!important;
background-color: grey;
}
.content-wrapper {
 background-color: #fff;
}

.navigation ul li a.blog-link {
 background-color: white;
 color: #002147;
}

.sidebar {
 padding-right: 1em;
}

@media screen and (max-width: 1000px) {
 .sidebar {
   padding-right:0;
 }
}

footer {
 margin-top: 0!important;
}

</style>


<% wrap_layout :layout do %>
      <div class="content-wrapper">
      <div class="content">
        <div class="article-content">

            <h1><%= current_page.data.title %></h1>
<p class="tagline"><%= current_page.data.description %></p>
<hr>
    <%= yield %>
  </div>
      </div>
        <%= partial "/partials/sidebar" %>
      </div>
      <script src="https://use.typekit.net/lcc0shx.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <% end %>
