<header>
  <div class="header">
    <div class="logo">
      <a href="/"><img src="/images/logo.svg" alt="Brunel Web - Bespoke Web Design"></a>
    </div>
    <div class="navigation">
      <nav>
        <ul>
          <li><a class="portfolio-link" href="/portfolio">Portfolio</a></li>
          <li><a class="blog-link" href="/blog">Blog</a</li>
          <li><a class="contact-link" href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

</nav>
</header>
