 <div class="sidebar">
    <div class="call-to-action">
      <h2>We offer all prospective clients a free, no-obligation quote. </h2>
      <p>A professional website costs less than you might think. We are happy to work with businesses of all sizes. </p>
      <a href="tel:+441179111208">tel: 0117 911 1208</a>
      <a href="tel:+77402332224">mob: 07402 332224</a>
      <a href="mailto:james@brunelweb.com">email: james@brunelweb.com</a>
          <div class="social-media">

        <a href="https://www.facebook.com/brunelweb" class="social-link"><div class="social-box" id="facebook">&#62220;</div></a>
        <a href="https://twitter.com/brunelwebUK" class="social-link"><div class="social-box" id="twitter">&#62217;</div></a>
        <a href="https://plus.google.com/u/0/117342649886081458962" class="social-link"> <div class="social-box" id="google">&#62223;</div></a>

    </div>
    </div>



  </div>
