---
title: Blog
description: Read Brunel Web's official blog to learn how to design a modern, professional website for your business.
---


<style>
body {
  background-image: none;
    background-color: grey;
}
  .content-wrapper {
    background-color: #fff;
  }

  .navigation ul li a.blog-link {
    background-color: white;
    color: #002147;
  }

  .sidebar {
    padding-right: 1em;
  }
  footer {
    margin-top:0!important;
  }

  @media screen and (max-width: 1000px) {
    .sidebar {
      padding-right:0;
    }
  }
</style>

<div class="title" id="blog">
  <h1>Welcome to our blog</h1>
  <p>Use this page to stay up to date with the team at Brunel Web. </p>
</div>


<div class="content-wrapper">
  <div class="content">
    <% blog.articles[0...5].each do |article| %>
    <div class="post-list-item">
  <article>
        <time><%= article.date.strftime('%b %e %Y') %></time>
    <h2>
      <a href="<%= article.url %>"><%= article.title %></a>

    </h2>

    <%= article.data.description %>
    <%= link_to 'Read more…', article %>

  </article>
  <hr>
  </div>
<% end %>
  </div>
  <%= partial "/partials/sidebar" %>

</div>
