---
title: Contact
description: Get in touch with Brunel Web for a free quote on your web design or web development project.
---

<style>
  .navigation ul li a.contact-link {
    background-color: white;
    color: #002147;
  }
  </style>

<div class="title">
	<h1>Get in touch</h1>
	<p>We offer prospective clients a free, no-obligation quote and consultation.</p>
</div>

<div class="content-wrapper">
	<div class="content">
		   <form>
      <form action="https://formspree.io/james@brunelweb.com"
      method="POST">
  <label>Name</label>
  <input type="text" name="name" placeholder="John Smith">
  <label>Email</label>
  <input type="text" name="email" placeholder="john@smithfamily.com">
  <label>Enquiry</label>
  <textarea placeholder="I'd like your team to create a new responsive website for the Smith family business." name="enquiry"></textarea>
  <input type="submit" value="Send">
</form>
    </form>
	</div>
	<%= partial "/partials/sidebar" %>
</div>
