---
title: Portfolio
description: Browse through Brunel Web's portfolio to see examples of modern, responsive web design.
---

<style>
  .navigation ul li a.portfolio-link {
    background-color: white;
    color: #002147;
  }
</style>

<div class="title" id="portfolio-title">
  <h1>Browse through our portfolio</h1>
  <p>Brunel Web has designed websites for businesses of all sizes. From small brochure websites to large eCommerce platforms, we can help your business.</p>
</div>

<div class="content-wrapper">
<div class="content full">

  <div class="portfolio">
  <div class="case-study">
    <img src="/images/1stchoiceroofing.png" alt="1st Choice Roofing">
<div class="case-study-content">
<h4>Case Study: 1st Choice Roofing</h4>
<p>1st Choice Roofing a Bristol-based roofing contractor that needed a new website to advertise its repair and construction services to potential new customers.</p>
<p>Brunel Web used a simple, minimalistic design to create an effective landing page for 1st Choice Roofing. As a result, the site has an excellent conversion rate and customers fully understand the services being offered by 1st Choice.</p>
<p>The site also features an integrated contact form. </p>
</div>
  </div>





</div>
</div>
</div>
